<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wikipedia ordered sections recommendations</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>
    <div class="d-flex align-items-center justify-content-center">
        
            <div class="row p-2">
                <div class="col p-2">
                    <a href="/select" class="btn btn-primary btn-lg">Choose categories</a>
                </div>
                <div class="col p-2">
                    Examples
                    <ul>
                        <li><a
                                href="/recommend_page?categories=27615976,26194135,26194410,4651530,16181493,4627223,5636733,4684577,9421612,27679369,35103705,14463609,56727045,741549,35638766,35577881,2848662,37483773,29029941&semantic_filtering_level=2&k=12">Football
                                player</a></li>
                        <li><a
                                href="/recommend_page?categories=32440127,24736372,27930421,27910141,27910128,27929242&semantic_filtering_level=3&k=18">Music
                                album</a></li>
                        <li><a
                                href="/recommend_page?categories=58075405,52755666,38903805,47132200,27674483,24531802,25116167,24531816&semantic_filtering_level=2&k=11">MMA
                                fighter</a></li>
                        <li><a
                                href="/recommend_page?categories=39597549,40591124,27642486,43646685,55371380,41429323&semantic_filtering_level=2&k=18">Town</a>
                                
                        </li>
                        <li>
                            <a href="/recommend_page?categories=2579930&semantic_filtering_level=3&k=19">Movie</a>
                        </li>
                        <li>
                            <a href="/recommend_page?categories=28270402,7530762&semantic_filtering_level=2&k=17">Classical musician</a>
                        </li>
                        <li>
                            <a href ="/recommend_page?categories=1005324,54511409,64748433,1224841&semantic_filtering_level=2&k=11">Theatre director</a>
                        </li>
                        <li>
                            <a href="/recommend_page?categories=16001637&semantic_filtering_level=2&k=12">Video game</a>
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>

</body>

</html>